:root {
	--white-color: #fff;
	--black-color: #000;
	--purpl-color: #E7B8FF;
}

* {
	font-family: Inter;
	font-size: 14px;
}

html {
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(153.43deg, rgb(28, 4, 91) 4.762%,rgb(70, 0, 140) 14.107%,rgb(30, 4, 93) 34.557%,rgb(68, 0, 138) 49.228%,rgb(30, 4, 93) 65.662%);
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0px;
	color: var(--white-color);
}

a {
	font-size: 20px;
	color: #34C6FF;
}

a:hover {
	color: var(--white-color);
	text-decoration: underline;
}

.container {
	padding: 0 15px;
}

@media (min-width: 480px) {
	.container {
		max-width: 480px;
		margin: 0 auto;
	}
}

@media (min-width: 576px) {
	.container {
		max-width: 480px;
		padding: 0;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 576px;
	}
}

@media (min-width: 1000px) {
	.container {
		max-width: 768px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1024px;
	}
}